.container-fluid{
    background-image: url("NetflixImage.png");
    background-size: contain;
    height: 100vmax;
    color: white;
}
.box{
    background-color: rgba(0, 0,0,0.6);
    height: 100vmax;
    width: 100vmax;
}